/* Default - 3 columns */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/* Adjust to 2 columns for medium screens */
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Adjust to 1 column for small screens */
@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.section{
  background-color: #789F52;
  padding: 15px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 15px;
}

.pad{
  padding: 5px;
}

.find {
  padding: 10px 20px;
  background-color: #789F52;
  color: #FFFFFF;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.find:active {
  background-color: #E6EADD; 
}

.dropdown-icon {
  transition: transform 0.3s ease;
  margin-left: 8px; 
}

.dropdown-icon.open {
  transform: rotate(0deg); 
}

.dropdown-icon.closed {
  transform: rotate(-90deg); 
}

.cust-item-css {
    background-color: #F8741F;
    border: none;
    padding: 3px 7px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    color: #f3f5ef;
}

.custom-item {
  margin: 8px 5px;
  display: inline-block;
}

.del-custom {
  margin-left: 5px;
  background-color: #F8741F;
  border: none;
  color: #f3f5ef;
  font-weight: 600;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #F8741F; 
}
