.bod {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #78b352;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: #eee;
  border-radius: 20px;
  overflow: hidden;
}

.image {
  width: 50%; /* Left side image */
  height: 100%;
  background-image: url('food.jpeg');
  background-size: cover;
  background-position: center;
}

.login {
  width: 50%; /* Right side form */
  height: 100%;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login h1 {
  color: #FA8A41;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.login label {
  color: #818181;
  font-size: 1.2em;
  margin-bottom: 10px;
  width: 100%;
}

.login input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.login input[type="submit"] {
  background-color: #78b352;
  color: #fff;
  cursor: pointer;
  border-radius: 500px;
  margin-bottom: 50px;
  height: 50px;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.login input[type="submit"]:hover {
  background-color: #628C38;
}

.login .remember-label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.login .remember-label input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  margin-top: 17px;
}

.login .remember-label span {
  font-size: 1.2em;
  color: #78b352;
}

.login .forgot-password {
  font-size: 1.2em;
  color: #78b352;
  text-decoration: none;
  margin-left: 10px;
}

.login .signup-link {
  font-size: 1.2em;
  color: #78b352;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}

.login .signup-link a {
  color: #FA8A41;
  text-decoration: none;
  font-weight: bold;
}
