.bod {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #78b352;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: #eee;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .imagesu {
    width: 50%;
    height: 100%;
    background-image: url('fd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .signup {
    width: 40%; /* Reduced width to center */
    height: 100%;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centering the content */
  }
  
  .signup h1 {
    color: #fa8a41;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signup form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form elements */
    width: 100%;
  }
  
  .signup label {
    color: #818181;
    font-size: 1.2em;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .signup input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .signup input[type="submit"] {
    background-color: #78b352;
    color: #fff;
    cursor: pointer;
    border-radius: 500px;
    margin-bottom: 50px;
    height: 50px;
    font-size: 1.2em;
    transition: background-color 0.3s;
  }
  
  .signup input[type="submit"]:hover {
    background-color: #628c38;
  }
  
  .signup .signup-remember-label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .signup .signup-remember-label input[type="checkbox"] {
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }
  
  .signup .signup-remember-label span {
    font-size: 1.2em;
    color: #78b352;
  }
  
  .signup .signup-link {
    font-size: 1.2em;
    color: #78b352;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
  }
  
  .signup .signup-link a {
    color: #fa8a41;
    text-decoration: none;
    font-weight: bold;
  }
  